In [1]:
import os
import pandas as pd
import import_ipynb
from src.helper.helper import YamlReader
from src.model_development.load_config import Config
from src.model_development.s1_preview_data import DataPreviewer

importing Jupyter notebook from C:\Users\Anast\pythonProject\essence1\src\helper\helper.ipynb
importing Jupyter notebook from C:\Users\Anast\pythonProject\essence1\src\model_development\load_config.ipynb
importing Jupyter notebook from C:\Users\Anast\pythonProject\essence1\src\model_development\s1_preview_data.ipynb
importing Jupyter notebook from C:\Users\Anast\pythonProject\essence1\src\model_development\s2_preprocess_data.ipynb
importing Jupyter notebook from C:\Users\Anast\pythonProject\essence1\src\model_development\s3_explore_data.ipynb
importing Jupyter notebook from C:\Users\Anast\pythonProject\essence1\src\model_development\create_required_dirs.ipynb
importing Jupyter notebook from C:\Users\Anast\pythonProject\essence1\src\model_development\s4_prepare_data_for_modelling.ipynb
importing Jupyter notebook from C:\Users\Anast\pythonProject\essence1\src\model_development\s5_build_model_train_n_test.ipynb
Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) Client VM (build 25.291-b10, mixed mode, sharing)
  Starting server from C:\Users\Anast\pythonProject\essence\venv\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\Anast\AppData\Local\Temp\tmpz9xa51t1
  JVM stdout: C:\Users\Anast\AppData\Local\Temp\tmpz9xa51t1\h2o_Anastasios_started_from_python.out
  JVM stderr: C:\Users\Anast\AppData\Local\Temp\tmpz9xa51t1\h2o_Anastasios_started_from_python.err

c:\users\anast\pythonproject\essence\venv\lib\site-packages\h2o\backend\server.py:385: UserWarning:   You have a 32-bit version of Java. H2O works best with 64-bit Java.
  Please download the latest 64-bit Java SE JDK from Oracle.

  warn("  You have a 32-bit version of Java. H2O works best with 64-bit Java.\n"

  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ---------------------------------
H2O_cluster_uptime:         02 secs
H2O_cluster_timezone:       Europe/London
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.42.0.3
H2O_cluster_version_age:    1 month and 3 days
H2O_cluster_name:           H2O_from_python_Anastasios_prond9
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    241.4 Mb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.10 final
--------------------------  ---------------------------------

In [2]:
class EssencePipelineRunner:

    def __init__(self, config_path):
        self.config = Config(config_path=config_path)
        self.run = DataPreviewer(config=self.config)\
            # .preprocess_data()\
            # .explore_data()\
            # .prepare_data_for_modelling()\
            # .build_ml_model_train_n_test()

In [3]:
CONFIG_PATH = os.path.join("src", "config", "config_essencemc.yaml")
run = EssencePipelineRunner(config_path=CONFIG_PATH)

 Cycle_hire_preview

,rental_id,duration,duration_ms,bike_id,bike_model,end_date,end_station_id,end_station_name,start_date,start_station_id,start_station_name,end_station_logical_terminal,start_station_logical_terminal,end_station_priority_id
0,57870195,3840,3840000,4229,,2016-08-31 20:49:00+00:00,<NA>,"Golden Square, Soho",2016-08-31 19:45:00+00:00,<NA>,"Albert Gate, Hyde Park",3451,1132,0
1,57852555,3840,3840000,242,,2016-08-31 15:19:00+00:00,<NA>,"Embankment (Savoy), Strand",2016-08-31 14:15:00+00:00,<NA>,"Albert Gate, Hyde Park",1192,1132,0
2,57872531,3840,3840000,728,,2016-08-31 22:12:00+00:00,<NA>,"Green Park Station, Mayfair",2016-08-31 21:08:00+00:00,<NA>,"Chepstow Villas, Notting Hill",200096,1120,1
3,57995603,2820,2820000,4375,,2016-09-04 17:10:00+00:00,<NA>,"Park Lane , Hyde Park",2016-09-04 16:23:00+00:00,<NA>,"Hyde Park Corner, Hyde Park",1037,1075,0
4,57933206,2820,2820000,2992,,2016-09-02 14:19:00+00:00,<NA>,"Wellington Arch, Hyde Park",2016-09-02 13:32:00+00:00,<NA>,"Serpentine Car Park, Hyde Park",1109,1217,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,58055911,780,780000,11409,,2016-09-06 15:32:00+00:00,<NA>,"Queen Street 1, Bank",2016-09-06 15:19:00+00:00,<NA>,"Jubilee Gardens, South Bank",999,1111,1
96,57926751,780,780000,14210,,2016-09-02 09:38:00+00:00,<NA>,"Empire Square, The Borough",2016-09-02 09:25:00+00:00,<NA>,"Kennington Lane Rail Bridge, Vauxhall",1209,1190,0
97,57986376,780,780000,9687,,2016-09-04 12:59:00+00:00,<NA>,"Palace Gate, Kensington Gardens",2016-09-04 12:46:00+00:00,<NA>,"Albert Gate, Hyde Park",1110,1132,0
98,58039973,780,780000,12306,,2016-09-06 07:59:00+00:00,<NA>,"Malet Street, Bloomsbury",2016-09-06 07:46:00+00:00,<NA>,"Waterloo Station 1, Waterloo",980,2696,1
99,58061709,780,780000,3313,,2016-09-06 17:44:00+00:00,<NA>,"Little Argyll Street, West End",2016-09-06 17:31:00+00:00,<NA>,"Bury Place, Holborn",995,200074,1

 Cycle_stations_preview

,id,installed,latitude,locked,longitude,name,bikes_count,docks_count,nbEmptyDocks,temporary,terminal_name,install_date,removal_date
0,365,True,51.530344,false,-0.100168,"City Road, Angel",46,47,0,False,2690,2010-11-24,NaT
1,14,True,51.529416,false,-0.123944,"Argyle Street, Kings Cross",43,45,1,False,1011,2010-07-05,NaT
2,574,True,51.533560,false,-0.093150,"Eagle Wharf Road, Hoxton",42,45,2,False,200246,2012-04-05,NaT
3,222,True,51.502757,false,-0.155350,"Knightsbridge, Hyde Park",37,43,6,False,1101,2010-07-20,NaT
4,421,True,51.504044,false,-0.104778,"Southwark Station 2, Southwark",39,45,6,False,22163,2011-06-28,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,565,True,51.521905,false,-0.063386,"Selby Street, Whitechapel",3,17,10,False,200135,NaT,NaT
96,356,True,51.494412,false,-0.173881,"South Kensington Station, South Kensington",3,15,12,False,2685,2010-10-25,NaT
97,405,True,51.494186,false,-0.182671,"Gloucester Road Station, South Kensington",3,15,12,False,1107,2011-03-09,NaT
98,7,True,51.534300,false,-0.168074,"Charlbert Street, St. John's Wood",3,16,13,False,3422,2010-07-04,NaT
99,23,True,51.519435,false,-0.119123,"Red Lion Square, Holborn",3,16,13,False,3421,2010-07-06,NaT

 Null_values_count_in_hires

,rental_id_null_count,duration_null_count,duration_ms_null_count,bike_id_null_count,bike_model_null_count,end_date_null_count,end_station_id_null_count,end_station_name_null_count,start_date_null_count,start_station_id_null_count,start_station_name_null_count,end_station_logical_terminal_null_count,start_station_logical_terminal_null_count,end_station_priority_id_null_count
0,0,19587,19587,15,56678942,19587,561504,19721,0,229639,0,83205227,83205227,83205227

 Null_values_count_in_stations

,station_id_null_count,installed_null_count,latitude_null_count,locked_null_count,longitude_null_count,name_null_count,bikes_count_null_count,docks_count_null_count,nbEmptyDocks_null_count,temporary_null_count,terminal_name_null_count,install_date_null_count,removal_date_null_count
0,0,0,0,0,0,0,0,0,0,0,0,86,795